/* *{
    margin: 0;
    padding: 0;
box-sizing: border-box;
}

body{
    background-color: rgb(117, 107, 107);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
}
.stopwatch{
    background-color: black;
   /* padding: 20px 51px;   top-bottom   and  left-right */
    /* border-radius: 10px;
}
.timerDisplay{
    font-size: 50px;
    font-weight: 600;
}
.buttons{
    margin-top: 20px;
}
.btn{
    font-size: 20px;
    background: none;
    border: none;
    color: aliceblue;
    background-color: aqua;
    padding: 12px 24px;  /* top-bottom  and    left-right */
    /* margin-inline: 12px;
    border-radius: 8px;
    cursor: pointer;
} */ 









*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background-color: rgba(0, 0, 0, 0.7);
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
}

.stopwatch{
    background-color: rgba(0, 0, 0, 0.9);
    padding: 20px 24px;
    border-radius: 10px;
}

.timerDisplay{
    font-size: 50px;
    font-weight: 600;
}

.buttons{
    margin-top: 20px;
}

.btn{
    font-size: 20px;
    background: none;
    border: none;
    color: #fff;
    background-color: var(--clr);
    padding: 12px 24px;
    margin-inline: 12px;
    border-radius: 8px;
    cursor: pointer;
}